<!-- Footer -->
<footer class="footer">
        <div class="footer-row">
                <div class="">
                        <a class="header-brand" href="index.html">
                                <img src="./images/logo.png" alt="Logo">
                        </a>
                </div>
                <div class="footer-contacts text-center">
                        <a href="about.html"><span>Sobre nós</span></a>
                        <h6 class="">Contatos</h6>
                        <h6>WhatsApp: (47)99999-9999</h6>
                        <h6>marjorie@gmail.com</h6>
                </div>
        </div>
</footer>